
body{
    margin: 0 auto;
    text-align: center;

    background-image: url('/troels_bg.png');
}


.Section{
    margin: 0 auto;
    margin-top: 15vh;
    background-color: rgb(75, 195, 155);opacity: 0.9;
    width: 50%;
    padding: 10%;
    color: rgb(0, 0, 0, 1);
    .Section__header{
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 3.2em;
     }
    .Section__paragraph{
        font-size: 1.3em;
    }
     .Section__button{
        background-color: rgb(233, 40, 172);
        color: rgb(75, 195, 155);
        border: none;
        cursor: pointer;
        padding: 2%;
        border-radius: 25px;
        margin-top: 2em;
        font-size: 0.9em;
        &:hover{
            background-color: rgb(74, 62, 189);
            transform: scale(1.1);
        }
     }
}



